.barreMenu {
	display: block;

}
body { 
	margin:0; padding:0; }

#map { 
	position: absolute; top:0; bottom:0; right:0; left:0; 
}
#map-title {
		position: relative;
    /* margin-top: 10px; */
    margin-left: 15%;
    margin-right: 15%;
    background: white;
    /* float: none; */
    /* border: 2px solid rgba(0,0,0,0.2); */
    padding: 7px 15px;
    font-family: Helvetica;
    font-weight: bold;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 24px;
    z-index: 800;
    align-items: center;
    box-shadow: 0 15px 80px -20px rgb(0 0 0 / 20%);
}